.sidebar-nav > li > a, .sidebar-nav > li > .nav-item {
    position: relative;
    display: block;
    padding: 12px 24px;
    color: #d1d6db;
    letter-spacing: .025em;
    font-weight: normal;
    cursor: pointer;
}

.sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
    background-color: #fcfcfc;
    color: #e59123;
}