.ui-table .ui-table-thead > tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #dadada;
    /* border: 1px solid #F1352B; */
    font-weight: 700;
     background-color: #AFAFAF !important; 
    // background-color: #3a3f51 !important;
    color: white !important;
}